header {
    border: 1px solid black;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.top-menu {
    position: absolute;
    top: 5px;
    right: 10px;
    list-style: none;
}


.top-menu ul li {
    display: inline-block;
}

.principal-menu {
    list-style: none;
    text-align: right;
    margin-right: 10px;
}

.principal-menu ul li {
    display: inline-block;
}
